body {
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ヘッダーのスタイル */
header.top {
  background-color: #1a73e8;
  color: white;
  padding: 3em 0;
  text-align: center;
}

header.top h1 {
  margin: 0;
  font-size: 2em;
}

header.top p {
  margin: 0.9em 0 0;
  font-size: 1.5em;
}

/* メインのスタイル */
main {
  padding: 5em 2em;
  max-width: 1200px;
  margin: 0 auto;
}

/* セクションのスタイル */
section {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 2em;
  padding: 1.5em;
  border-radius: 8px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 1.3em;
  font-size: 1.7em;
  color: #1a73e8;
}

section p {
  font-size: 1em;
}

/* プログラムセクションのスタイル */
.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 3%;
}
.program dl {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 5rem 2rem;
  align-items: center;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
}

.program dt {
  margin-right: 1em;
  margin-bottom: 2rem;
}

.program img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.program dd {
  margin-bottom: 1em;
}

.program dd:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* スポンサーセクションのスタイル */
.sponsor ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sponsor li {
  margin: 0.5em;
  width: 18%;
  text-align: center;
}

.sponsor img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* エントリーセクションのスタイル */
.entry {
  width: fit-content;

  margin: 300px auto;
  text-align: center;
}

.entry a {
  display: inline-block;
  padding: 1em 2em;
  background-color: #1a73e8;
  color: white;
  border-radius: 8px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.entry a:hover {
  background-color: #165bb5;
}
